/node_modules
/vendor
/.git
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
Dockerfile.dev
.dockerignore
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
